<!-- bonds & history -->
<h1>Creating your {{#if (eq system.playbook "")}}Companion{{else}}{{playbookProperName system.playbooks system.playbook}}{{/if}}</h1>
<div>
    <h2 class="charname">Playbook</h2>
    Select your playbook.
    <select id="playbook-selector" name="system.playbook" {{#if (ne "" system.playbook)}}disabled{{/if}}>
    <option value="" disabled selected hidden>Select your Playbook</option>
    {{#each system.playbooks}}
    <option value="{{@key}}" {{#if (eq @key ../system.playbook)}} selected {{/if}}>{{this.title}}</option>
    {{/each}}
    </select>
    <button onclick="document.getElementById('playbook-selector').removeAttribute('disabled')">unlock</button>
</div>

{{#if (ne system.playbook "")}}
<div>
    <h2>Stats</h2>
    Choose one set.
    {{#each system.abilityBlocks}}
    <p>
        <input type="radio"
               id="statBlockS:w
               elected{{@key}}"
               name="system.abilityBlockSelected"
               value={{@key}}
               {{radioSelected ../system.abilityBlockSelected @key}}/>
        ({{#each this}}{{abilityProperName ../../system.abilities @key}}: {{this}}{{#unless @last}}, {{/unless}}{{/each}})</p>
    {{/each}}
</div>
{{/if}}

{{#if (ne system.playbook "")}}
<div>
    <h2>Bonds</h2>
    These are events that happened with other Companions in previous episodes. Fill in the name of which Companion they happened with. Tell them what happened.<br/>
    The total of the numbers in parentheses (max +3) for each Companion is your Bond with them. Each name and total will be recorded for you in the Bonds box.
    <ul>
        {{#each system.bonds}}
        <li>
            {{{this.historyText}}} ({{{this.bonus}}})
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}
