<div class="abilities flexcol tab" data-group="moves" data-tab="vortex">
    <h1>Vortex Moves</h1>
    {{#each system.moves.vortex}}
    <div class="ability flexrow flex-group-center">
        <label for="{{@key}}" class="resource-label flexlarge align-left">{{this.title}}</label>
    </div>
    <div>
        {{{this.description}}}
        {{#if (ne this.options "")}}
        {{{this.options}}}
        {{/if}}
    </div>
    {{#if (gt this.stat.length 0)}}
    <div>
        To make this move,
        {{#each this.rolls as |roll key|}}
        <span class="ability-mod rollable"
              data-roll="2d6{{roll.operator}}{{roll.bonus}}"
              data-label="{{../this.title}}"
              data-statLabel="{{roll.statLabel}}"
              data-movekey="{{@../key}}"
        >Roll +{{roll.statLabel}}</span>{{#unless @last}} OR {{/unless}}{{/each}}.
    </div>
    {{/if}}
    {{/each}}
    {{log this}}
</div>