<div class="abilities flexcol tab" data-group="moves" data-tab="other">
    <h1>Other Moves</h1>
    {{#each system.moves.other}}
    <h2>{{capitalize @key}} Moves</h2>
    {{#each this}}
    <div class="ability flexrow flex-group-center">
        <input type="checkbox" name="system.moves.taken.{{@key}}" {{takenMove @key ../../system.moves.taken}}>
        <label for="{{@key}}" class="resource-label flexlarge align-left">{{this.title}}</label>
    </div>
    <div>
        {{{this.description}}}
        {{#if (ne this.options "")}}
        {{{this.options}}}
        {{/if}}
    </div>
    {{#if (gt this.stat.length 0)}}
    {{#if (takenMoveBool @key ../../system.moves.taken)}}
    <div>
        To make this move,
        {{#each this.rolls as |roll key|}}
        <span class="ability-mod rollable"
              data-roll="2d6{{roll.operator}}{{roll.bonus}}"
              data-label="{{../this.title}}"
              data-attributeLabel="{{roll.attributeLabel}}"
              data-movekey="{{@../key}}"
        >Roll +{{roll.attributeLabel}}</span>{{#unless @last}} OR {{/unless}}{{/each}}.
    </div>
    {{/if}}
    {{/if}}
    {{/each}}
    {{/each}}
</div>